@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nokora&family=Unna&display=swap');


body{
    background-color: #F2F2ED;
    margin: 0;

}

.header{
    align-content: center;
    justify-content: space-around;
    display: flex;
    height: 4vw;
    color: #0000;
    font-family: Playfair Display SC;
    font-size: 1.1vw; /* 2% of the viewport width */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border: 1px solid #000;
    background-color: #F2F2ED;
    width: 100%;
    position: fixed;
    z-index: 1000;
    margin-top: -4%;
    
}

h1{
    color: #000;
    font-family: Playfair Display SC;
    font-size: 1.3vw; /* 2% of the viewport width */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

h20{
    color: #000;
    font-family: Playfair Display SC;
    font-size: 5vw; /* 2% of the viewport width */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    z-index: 100;
}

h21{
    color: rgba(0, 0, 0, 0.8);
    font-family:'Abril Fatface', sans-serif ;
    font-size: 3.5vw; /* 2% of the viewport width */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    z-index: 100;
}


h4{
    width: 480px;
    height: 81px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Playfair Display SC;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}



h2{
    color: white;
    font-family: Playfair Display SC;
    font-size: 1.5vw; /* 2% of the viewport width */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

p{
    color: #000;
    font-family: Playfair Display SC;
    font-size: 2.7vw; /* 2% of the viewport width */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

p1{
    color: #000;
    font-family: 'Nokora', sans-serif;
    font-size: 1.5vw; /* 2% of the viewport width */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

p2{
    color: #000;
    font-family: 'Nokora', sans-serif;
    font-size: 1vw; /* 2% of the viewport width */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    bottom: 20%;
}

p3{
    color: #000;
    font-family: 'Nokora', sans-serif;
    font-size: 1.2vw; /* 2% of the viewport width */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    bottom: 20%;
}


em{
    color: #000;
    font-family: Playfair Display SC;
    font-size: 1.2vw; /* 2% of the viewport width */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

h3{
    color: #000;
    font-family: Nokora;
    font-size: 3vw; /* 2% of the viewport width */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.bood{
    justify-self: left;
    width: 79.9vw;
    height: 23vw; /* 30% of the viewport height */
    flex-shrink: 0;
    border: 1px solid #000;
}
.cl{
    width: 18.98vw;
    height: 23vw; /* 30% of the viewport height */
    flex-shrink: 0;
    border: 1px solid #000;
    justify-content: center;
    display: flex;
}
.telo{
    display: flex;
    margin-top: 3.5vw;
    width: 100%;
    height: 30vw;
    overflow: hidden; /* обрезать лишнюю часть изображения */
}

.telo2{
    display: flex;
    width: 100%;
    height: 40vw;
    overflow: hidden; /* обрезать лишнюю часть изображения */
}

.telo img{
    width: 100%;
    height: 100%; /* автоматически подстраивать высоту изображения */
    position: relative;
    z-index: 1;
}

.calendar{
    justify-content: left;
    align-self: center;
    background-color: #E1E1DD;
}

.spec {
    width: 20vw;
    height: 25vw;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40% 40% 0 0;
    background-color: #F2F2ED;
    position: relative;
    top: 2.7vw;
    left:4%;
    overflow: hidden;
}

.spec img {
    width: 16vw;
    height: 22vw;
    border-radius: 40% 40% 0 0;
}




.podsob{
    width: 98.9vw;
    height: 35vw; /* 50% of the viewport height */
    flex-shrink: 0;
    border: 1px solid #000;
    background: #F2F2ED;
    display: flex;
    justify-content: space-around;
    
}

a{
    text-decoration: none;
}

a:hover h2{
    color: orange;
}



.nav-link{
    color: #000;

}
.nav-link:hover {
    color: #F0D92A;
}

.logo{
    display: flex;
    align-items: center;
    width: 360px;
    height: 73px;
    color: #000;
    line-height: normal;
    text-transform: uppercase;
    justify-content: center; /* Логотип будет выравниваться слева */
    margin-bottom: 1.5vw;
}

.navbar-brand img {
    position: relative;
    width: 13vw; /* Логотип будет уменьшаться при уменьшении родительского элемента */
    top: 0.3vw;
}


.arrow-button{
    background-color: white; /* задаем белый цвет */
    border-radius: 50%; /* делаем кнопку круглой */
    font-size: 1.5rem; /* задаем размер шрифта */
    width: 5vw; /* задаем ширину кнопки */
    height: 5vw; /* задаем высоту кнопки */
    border: none; /* убираем границу */
    cursor: pointer; /* добавляем стиль курсора при наведении */
    display: none; /* кнопка изначально скрыта */
  }

  .arrow-button:hover{
    background-color: #F0D92A; /* задаем белый цвет */
  }


  .navbar-toggler:hover{
    color: #F0D92A;
  }

  .navbar-toggler{
    display: flex;
    padding-inline-end:0%;
    color: #000;
    width: 3vw;
    list-style-type: style none; 
  }

  .container-fluid{
    display: flex;
    justify-content: space-between;
  }


  .navbar {
    width: 100%; /* 100% of the parent container's width */
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
  }
  .navbar-nav1 {
    display: flex;
    flex-grow: 0.2;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    align-items: center;
  }

  .footer_up img{
    width: 13vw; /* Логотип будет уменьшаться при уменьшении родительского элемента */
}

.ic{
    width: 1vw;
    height: 1vw;
}

.text{
    margin-top: 6vw;
}

.sob{
    width: 100%;
    height: 3vw; /* 50% of the viewport height */
    background: #000;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer_up{
    width: 100%;
    height: 5vw; /* 50% of the viewport height */
    border: 1px solid #000;
    background: #F2F2ED;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer_down{
    width: 100%;
    height: 7.4vw; /* 50% of the viewport height */
    border: 1px solid #000;
    background: #F2F2ED;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.credit{
    width: 83.9vw;
    height: 7.4vw; /* 50% of the viewport height */
    display: flex;
    justify-content: center;
    margin-left: 13vw;
    align-items: center;
}
.svz{
    width: 10vw;
    height: 4vw; /* 50% of the viewport height */
    justify-content: center;
    margin-right: 2vw;
    margin-bottom: 0.3vw;
}

.icons img{
    width: 2vw;

}

.icons{
    width: 7vw;
    display: flex;
    justify-content: space-around;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
}

h7{
    color: #000;
    text-align: center;
    font-family: Playfair Display SC;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

}

h8{
    color: #000;
    text-align: center;
    font-family: Playfair Display SC;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 2vw;
}

.vetv1{
    display: flex;
    height: 4vw;
    background-color: #000;
    border: 1px solid #000;
}

.vetv2{
    display: flex;
    height: 4vw;
    background-color: #000;
    border: 1px solid #000;
    margin-left: 3%;
}

.ticet{
    margin-bottom: 12%;
    width: 15%;
    height: 4vw;
    margin-left: 80%;
    background-color: #F0D92A;
}



.linkk{
    text-decoration: none;
}

.podsob img{
    width: 10vw;
    border-radius: 40% 40% 0 0;
}

.sp1,
.sp2,
.sp3{
    align-items: center;
    display:flex;
    flex-direction: column;
    border: 1px solid #000 ;
}


.sp1:hover .spec,
.sp2:hover .spec,
.sp3:hover .spec{
    background-color: #F0D92A;
}



.foto{
    width: 15vw;
    height: 15vw;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

h12{
    color: #000;

    font-size: 1.3vw; /* 2% of the viewport width */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.text{
    color: #000;
}




/* Модальный (фон) */
.modal-content {
    background-color: #F2F2ED;
    margin: auto; /* 15% сверху и по центру */
    border: 1px solid #888;
    width: 100%;
    height: 100%; /* Может быть больше или меньше, в зависимости от размера экрана */
  }
  
  /* Кнопка закрытия */
  .close {
    display: flex;
    width: 20%;
    height: 8vw;
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #000;
    align-items: center;
    justify-content: center;

  }
  
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #myForm {
    width: 100%;
    padding: 2%;
    border: 1px solid #ccc;
    background-color: #F2F2ED;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.left-column {
    width: 45%;
}

.right-column {
    width: 45%;
}
.midlee{
    width: 100%;
} 
  label {
    margin-bottom: 1%;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 2%;
    margin-bottom: 2%;
  }
  
  textarea {
    width: 100%;
    height: 4vw;
    padding: 2%;
    margin-bottom: 2%;
  }
  
  input[type="submit"] {
    background-color: #F0D92A;
    color: black;
    padding: 10% 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  
  input[type="submit"]:hover {
    background-color: #E6CF28; /* Жёлтый цвет с небольшим оттенком */
  }


  
  @media (max-width: 768px) {
    
    #myForm {
        width: 100%;
    }

    .left-column,
    .right-column {
        width: 50%;
    }

    input[type="submit"] {
        padding: 2% 10%;
        font-size: 2vw;

    }

    input[type="text"],
    input[type="email"] {
      width: 80%;
      padding: 2%;
      margin-bottom: 2%;
      font-size: 2vw;
    }
    
    textarea {
      width: 100%;
      height: 5%;
      padding: 2%;
      margin-bottom: 2%;
      font-size: 2vw;
    }
    label {
        font-size: 2vw;
      }
}