{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Контакты</title>
    <link rel="stylesheet" href="{% static 'css/style_contact.css' %}">
</head>
<body>
    <div style="position: fixed; margin-top: -4%; width: 100%; ">
        <div class="header">
            <div class="logo">
                <a class="navbar-brand" href="index.html">
                    <img src="img/log.png" alt=""></a>
            </div>
            <div class="vetv1"></div>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Меню">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav" style="width: 100%;">
                            <a class="nav-link active" aria-current="page" href="bilet.html">Билеты</a>
                            <a class="nav-link" href="repertuar.html">Репертуар</a>
                            <a class="nav-link" href="collectiv.html">О театре</a>
                            <a class="nav-link" href="contact.html">Контакты</a>
                        </div>
                    </div>
                    <div class="vetv2"></div>
                    <!-- Модальный -->
                    <div id="myModal" class="modal">

                    <!-- Модальное содержание -->
                        <div class="modal-content">
                            <div style="display: flex; width: 100%; height: 16.5%;">
                                <a href="index.html" style ="text-decoration: none; width: 80%;"><div style="border: 1px solid #000; width:100%; height: 100%; display:flex;align-items:center;"><p style="margin-left: 2%;">Главная</p></div></a>
                                <span class="close" style="border: 1px solid #000;" style ="text-decoration: none;"><p>Закрыть</p></span>
                            </div>
                            <div style="display: flex; width: 100%; height: 34%;">
                                <div style="width:80%;">
                                    <a href="bilet.html" style ="text-decoration: none; width: 100%;"><div style="border: 1px solid #000; height: 50%; display:flex;align-items:center;"><p style="margin-left: 2%;">Билеты</p></div></a>
                                    <a href="repertuar.html" style ="text-decoration: none; width: 100%;"><div style="border: 1px solid #000; height: 50%; display:flex;align-items:center;"><p style="margin-left: 2%;">Репертуар<p></div></a>
                                </div>
                                <a href="vosvrat.html" style ="text-decoration: none; width: 20%;"><div style="border: 1px solid #000; height: 100%; display:flex;align-items:center; justify-content: center; text-align: center;"><p>Возврат <br> билетов</p></div></a>
                            </div>
                            <div style="display: flex; width: 100%; height: 34%;">
                                <div style="width:80%;">
                                    <a href="collectiv.html" style ="text-decoration: none; width: 100%;"><div style="border: 1px solid #000; height: 50%; display:flex;align-items:center; "><p style="margin-left: 2%;">О театре</p></div></a>
                                    <a href="contact.html" style ="text-decoration: none; width: 100%;"><div style="border: 1px solid #000; height: 50%; display:flex;align-items:center;"><p style="margin-left: 2%;">Контакты</p></div></a>
                                </div>
                                <a href="parthner.html" style ="text-decoration: none; width: 20%;"><div style="border: 1px solid #000; height: 100%; display:flex;align-items:center; justify-content: center;"><p>Парнёры</p></div></a>
                            </div>
                            <a href="doc.html" style ="text-decoration: none; width: 100%; height: 16.5%;"><div style="border: 1px solid #000;height: 100%;display:flex;align-items:center; justify-content: center;"><p>Документация</p></div></a>
                        </div>

                    </div>
                    <!-- Конец кода модального окна меню -->
                    <div class="navbar-nav1">
                        <a class="nav-link" id="myBtn" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Меню</a>
                    </div>
                </div>
            </nav>
        </div>
        </div>
    <div class="block1">
    <div class="podblock">
        <h4>Пресс-служба</h4>
        <div class="text">
            <h10>Главный администратор:</h10><br>
            <h10 class="name">Шалухина татьяна</h10>
            <h0>Электронная почта:</h0><br>
            <h0 class ="email">dramapress@mail.ru</h0>
            <h10>Телефон:</h10><br>
            <h10 class="number">+7 492 232 30 17</h10>
        </div>
    </div>
    <div class="podblock1">
        <div class="adress">
            <h20 class="zagolovok">Адрес</h20>
            <h12>Россия, 600000, город Владимир, улица Дворянская, дом 4</h12>
        </div>
        <div class="contener">
            <div class="stolbic1">
                <h20>Контакты</h20><br>
                <h13>Директор:</h13><br>
                <h13 class="name1">Гунин Борис</h13><br>
                <h13>Телефон:</h13><br>
                <h13 class="number1">+7 492 232 42 58</h13><br>
                <h13>Общая электронная почта:</h13><br>
                <h13 class ="email1">vladimirteatr@yandex.ru</h13>
            </div>
            <div class="stolbic2">
                <h14>Заметитель директра:</h14><br>
                <h14 class="name2">Туркова виктория</h14><br>
                <h14>Телефон:</h14><br>
                <h14 class="number2">+7 492 232 41 63</h14><br>
                <h14>Заметитель директра:</h14><br>
                <h14 class="name2">кириков сергей</h13><br>
                <h14>Телефон:</h14><br>
                <h14 class="number2">+7 492 232 63 24</h14><br>
            </div>
            <div class="stolbic3">
                <h15>Заметитель директра:</h15><br>
                <h15 class="name3">Панфилова людмила</h15><br>
                <h15>Телефон:</h15><br>
                <h15 class="number3">+7 492 232 30 17</h15><br>
                <h15>Заметитель директра:</h15><br>
                <h15 class="name3">Баранов радий</h15><br>
                <h15>Телефон:</h15><br>
                <h15 class="number3">+7 492 232 28 52</h15><br>
            </div>
        </div>
    </div>
    </div>
    <div class="carta">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa28827a5b318a6d7848d9f78b942cb61ac443443fbe8146b757d47e88fc2b30a&amp;width=876vw&amp;height=464vw&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="block2">
        <div class="podblock_">
            <h1>Литературно-драматургическая <br> часть</h1>
            <div class="text2">
                <h16>Заведующая литературной частью:</h16><br>
                <h16 class="name4">Лаврова татьяна</h16><br>
                <h17>Электронная почта:</h17><br>
                <h17 class ="email4">teltons@yandex.ru</h17><br>
                <h16>Телефон:</h16><br>
                <h16 class="number4">+7 492 232 30 92</h16>
            </div>
        </div>
        <div class="podblock_1">
            <h3>Касса</h3>
            <div class="text3">
                <h18>Адрес:</h18><br>
                <h10 class="address">улица Большая Московская, дом 33/35</h10><br><br>
                <h18>Режим работы:</h18><br>
                <h0 class ="time">пн-вт-ср-чт-пт-сб-вс</h0><br>
                <h0 class ="time">14:00 - 18:00</h0><br>
                <div class="news">
                    <h19>касса начнёт свою работу с 1 октября</h19>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="block3">
        <div class="tel">
            <h2><a class="link" href="https://t.me/vladimir_drama">Telegram</a></h2>
        </div>
        <div class="vk">
            <h2><a class="link" href="https://vk.com/vladimir_drama33">Vkontacte</a></h2>
        </div>
        <div class="yut">
            <h2><a class="link" href="https://www.youtube.com/@vladimirdrama33/videos">Youtube</a></h2>
        </div>
    </div>
    <div class="block4">
        <h6>учредитель: Министерство культуры владимирской области</h6>
        <div class="contener1">
            <div class="stolb1">
                <h13>Адресс:</h13><br>
                <h20 class="min">Россия, 600000, город Владимир, улица Музейная, дом 3</h20><br>
                <h13>Электронная почта:</h13><br>
                <h20 class ="email">dk@avo.ru</h20>
            </div>
            <div class="stolb2">
                <h14>Веб-сайт:</h14><br>
                <h21 class="webs"><a class="web" href="Culture.AVO.ru/">Culture.AVO.ru/</a><br></h21>
                <h14>Телефон:</h14><br>
                <h21 class="number6">+7 492 232 44 16</h21>
            </div>
        </div>
    </div>
    <div class="footer_up">
        <div class="logo_2">
            <img src="logo.png" alt="">
        </div>
    </div>
    <div class="footer_down">
        <div class="credit">
            <h7>© Владимирский областной академический  театр драмы, 2009-2023<br>
                600000, Владимир, дворянская 4<br>Пресс служба: dramapress@mail.ru<br></h7>
        </div>
        <div class="svz">
            <h8>Мы в соц.сетях:</h8>
            <div class = "icons">
                <a class ="ic" href="https://vk.com/vladimir_drama33"><img src="img/vk.png" alt=""></a>
                <a class ="ic" href="https://t.me/vladimir_drama"><img src="img/tg.png" alt=""></a>
                <a class ="ic" href="https://ok.ru/group/70000002276220"><img src="img/okru.png" alt=""></a>
            </div>
        </div>
    </div>
    <button class="arrow-button" onclick="scrollToTop()" style="position: fixed; bottom: 2vw; right: 1vw;">&#8679;</button>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <script>
        window.addEventListener('scroll', function() {
        var button = document.querySelector('.arrow-button');
        if (window.scrollY > 100) { // кнопка появляется, когда прокручено более 100 пикселей
            button.style.display = 'block'; // отображаем кнопку
        } else {
            button.style.display = 'none'; // скрываем кнопку
        }
        });
        function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: "smooth" // добавляем плавность прокрутке
        });
    }
    </script>
        <script>
            // Получить модальный
            var modal = document.getElementById("myModal");
    
            // Получить кнопку, которая открывает модальный
            var btn = document.getElementById("myBtn");
    
            // Получить элемент <span>, который закрывает модальный
            var span = document.getElementsByClassName("close")[0];
    
            // Когда пользователь нажимает на кнопку, откройте модальный
            btn.onclick = function() {
            modal.style.display = "block";
            }
    
            // Когда пользователь нажимает на <span> (x), закройте модальное окно
            span.onclick = function() {
            modal.style.display = "none";
            }
    
            // Когда пользователь щелкает в любом месте за пределами модального, закройте его
            window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
            }     
        </script>
</body>
</html>